html,
body {
  background-color: #fff !important;
}

// Home Page Landing Css
[data-aliases="HOME"] {
  [data-component-type="CAROUSEL"] + [data-component-type="CONTENT_SLOT"] {
    > .configuration {
      padding: 0 0 !important;
    }
  }
}

.bg-white {
  background: #fff;
}

.d-flex {
  display: flex;
}

.col-6 {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

.landing-block {
  margin-top: 20px;

  img {
    max-width: 100%;
  }

  .block {
    position: relative;

    img {
      transition: all 0.8s linear;
    }

    &:hover img {
      transform: scale(1.04);
      transition: all 0.8s linear;
    }

    a {
      display: block;
      font-size: 0px;
      overflow: hidden;

      &.btn-banner {
        font-size: 14px;
        color: #ffffff;
        background: transparent;
        transition: all 0.3s;
        border: 2px solid #ffffff;
        padding: 12px 40px;
        font-weight: 500;
        text-decoration: none;
        margin-top: 25px;
        width: 80px;
        text-align: center;

        &:hover {
          color: #ffffff;
          background: #fe7250;
          border: 2px solid #fe7250;
        }
      }
    }
  }

  .content {
    position: absolute;
    left: 8%;
    max-width: 84%;
    width: 100%;
    bottom: 50px;
    color: #fff;
    display: inline-flex;
    flex-direction: column;

    h3 {
      font-size: 45px;
    }

    .sub-title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    * {
      display: inline-block;
      margin: 0px;
    }
  }
}

@media (min-width: 769px) {
  .pl-10 {
    padding-left: 10px !important;
  }
  .pr-10 {
    padding-right: 10px !important;
  }
}

@media (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
  .landing-block.d-flex {
    flex-direction: column;
    margin-top: 0px;
  }
  .landing-block .block {
    margin-top: 20px;
  }
  .landing-block .content h3 {
    font-size: 32px;
  }
  .landing-block .content .sub-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .landing-block .block a.btn-banner {
    margin-top: 15px;
  }
}

//Home page category block
.col-3 {
  width: 25%;
}
.homeCategory {
  background: #fff;

  .block {
    padding: 20px;
    border: 1px solid #bdbdbd;
    text-align: center;
  }

  h3 {
    margin: 0 0 15px !important;
    font-size: 24px !important;
    text-align: center;
    line-height: 1.2;

    span {
      display: block;
    }
  }

  .box-img {
    a {
      font-size: 0px;
      display: block;
    }

    img {
      max-width: 100%;
      transition: all 0.8s linear;
    }

    &:hover img {
      transform: scale(1.04);
      transition: all 0.8s linear;
    }
  }

  .box-info {
    display: block;
    margin-top: 20px;

    a {
      font-weight: 500;
      font-size: 14px;
      padding: 12px 30px;
      transition: all 0.3s;
      text-decoration: none;
      color: #ffffff;
      background: #fe7250;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: #ffffff;
        background: #1d1f29;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 767px) {
  .col-3 {
    width: 100%;
  }
  .homeCategory.d-flex {
    flex-direction: column;
  }
  .homeCategory {
    margin-top: 0px !important;
    .col-3 {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .homeCategory {
    margin-top: 0px !important;

    &.d-flex {
      flex-wrap: wrap;
    }

    .col-3 {
      margin-top: 20px;
      width: 50%;
      box-sizing: border-box;

      &:first-child {
        padding-right: 10px !important;
      }

      &:nth-child(2) {
        padding-left: 10px !important;
        padding-right: 0 !important;
      }

      &:nth-child(3) {
        padding-left: 0 !important;
        padding-right: 10px !important;
      }

      &:last-child {
        padding-left: 10px !important;
      }
    }
  }
}

// BestSeller Section
[data-aliases="HOME"] {
  .component-ready[data-component-type="CUSTOM"] {
    > .container-content {
      max-width: 100% !important;
      width: 100% !important;
      background: #fff !important;
      padding: 50px 0 0 !important;
    }

    iframe {
      height: 3700px !important;

      @media (min-width: 768px) {
        height: 1950px !important;
      }

      @media (min-width: 993px) {
        height: 1000px !important;
      }
    }
  }
}

//PDP custom info
.pdpCustomInfo {
  .col-4 {
    padding: 15px;
    width: 100%;
    display: flex;
    box-sizing: border-box;

    @media (min-width: 768px) {
      width: 33.33%;
    }
  }

  h3 {
    position: relative;

    &:before {
      content: "";
      height: 1px;
      width: 30px;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      background: #000;
      position: absolute;
    }
  }

  p {
    color: #979797 !important;
  }

  .infoSec {
    border: 1px solid #000;
    background: #fff;
    padding: 30px 10px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .d-flex {
      flex-direction: column;
    }
  }
}

//PDP page
.configuration {
  padding: 0 0 0 0 !important;
  background: #fff !important;
  background-color: #fff !important;
}

.product-detail-content {
  margin-bottom: 0 !important;
}

.upscale-desktop .container-content {
  max-width: 100% !important;
  width: 100% !important;
}

@media (max-width: 575px) {
  [data-templatetype="PRODUCT_DETAILS"] .component-ready iframe {
    height: 720px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  [data-templatetype="PRODUCT_DETAILS"] .component-ready iframe {
    height: 900px !important;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  [data-templatetype="PRODUCT_DETAILS"] .component-ready iframe {
    height: 670px !important;
  }
}

//Cart Page
.cartBanner {
  background-image: url("//cdn.shopify.com/s/files/1/0579/0760/9755/files/bg_page.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0 130px;
  text-align: center;

  h2 {
    font-size: 46px !important;
    font-weight: 600 !important;
    color: #010101;
    margin: 0 0 20px !important;
  }

  .bread-crumb {
    font-weight: 500 !important;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 500 !important;
    font-size: 14px !important;

    &:hover {
      color: #fe7250 !important;
    }
  }
}

.cart-empty__start-shopping-button {
  background: #fe7250 !important;
  border-radius: 0px !important;
  padding: 20px 20px !important;
  height: 60px !important;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background: #000 !important;
  }
}

.cart-empty,
.cart-notification-wrapper {
  background: #fff !important;
}

.cart-empty {
  margin-bottom: 200px !important;
}

.cart-notification-wrapper + .container-content {
  padding: 0 15px !important;
  max-width: 1300px !important;
  width: 100% !important;
  margin: 0 auto !important;
  display: block !important;

  .division-bar {
    border-bottom: 0px !important;
    height: 100px !important;

    .division-image {
      height: 100px !important;
      width: 100px !important;
    }
  }

  .second.section {
    max-width: 40% !important;
    margin-bottom: 50px !important;

    .addCoupon-button {
      border: 0px !important;

      span {
        border: 1px solid #000 !important;
      }

      &:hover {
        background: #fe7250 !important;
        color: #fff !important;

        span {
          border: 1px solid #fe7250 !important;
        }
      }
    }
  }

  .cart__checkout-button {
    background: #fe7250 !important;

    &:hover {
      transition: 0.3s;
      background: #000 !important;
    }
  }
}

.cart__contents.cart__gridCart {
  .cart-list.gridCard {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

  .product-data {
    .info {
      flex-direction: row !important;
      align-items: center !important;

      .name {
        padding: 0 10px !important;
        text-transform: none;
      }

      .name + div,
      .name + div + div {
        padding: 0 10px !important;
      }
    }
  }

  .gridCard {
    border: 0px !important;
    > .grid-view {
      border: 1px solid rgb(222, 226, 230) !important;
      padding: 10px !important;

      .shipping-choices {
        border-bottom: 0px !important;
      }

      .button-holder {
        padding-bottom: 0px !important;
      }

      .remove-button {
        background: #000 !important;
        color: #fff !important;
        font-weight: 600 !important;
        padding: 5px 50px !important;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          background: #fe7250 !important;
        }
      }

      .edit-button {
        background: #fe7250 !important;
        color: #fff !important;
        font-weight: 600 !important;
        padding: 5px 50px !important;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          background: #000 !important;
        }
      }
    }
    .product {
      flex-direction: row !important;

      & > .image {
        padding-top: 100px !important;
        max-width: 100px !important;
        margin-left: 15px !important;
      }
    }
  }

  .product-data .quantity {
    display: block !important;
    padding-left: 50px !important;

    .selector {
      display: block !important;

      .quantity-label__text {
        display: none !important;
      }
    }

    .inputs {
      position: relative;
      display: block !important;
      max-width: 100px;
      min-width: 100px;
      width: 100%;
      height: 52px;
      border: 2px solid #000;

      .action-button:first-child {
        right: 0 !important;
        position: absolute;
        top: 0px !important;
        width: 50px;
        height: 26px;
        border-left: 1px solid #000 !important;
      }

      .action-button {
        background: #fff !important;

        &:hover {
          color: #fe7250 !important;
        }

        & > div {
          line-height: 1 !important;
          font-weight: 600;
          display: block;
          height: 100%;
          position: relative;
          font-size: 22px !important;
        }
      }

      .action-button:last-child {
        right: 0 !important;
        position: absolute;
        bottom: 0px !important;
        width: 50px;
        height: 26px;
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        font-weight: 400 !important;
      }

      input {
        width: 50px;
        position: absolute;
        height: 52px !important;
        border: 0 !important;
        padding: 0 0 !important;
        left: 0;
        top: 0;
        margin: 0 0 !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .cart__contents.cart__gridCart .product-data {
    display: block !important;
  }
  .cart__contents.cart__gridCart .product-data .info {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .cart__contents.cart__gridCart .product-data .quantity {
    padding-left: 10px !important;
  }
  .cart__contents.cart__gridCart .product-data .prices {
    display: flex !important;
    padding-left: 10px !important;
  }
  .cart-notification-wrapper + .container-content .second.section {
    max-width: 100% !important;
  }
  .cart-notification-wrapper + .container-content {
    box-sizing: border-box !important;
  }
  .cart__contents.cart__gridCart .gridCard > .grid-view {
    width: calc(100% - 7px) !important;
  }
  .cart__contents.cart__gridCart .gridCard > .grid-view {
    .edit-button,
    .remove-button {
      padding: 5px 5px !important;
      min-width: 90px !important;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cart__contents.cart__gridCart .gridCard > .grid-view {
    width: calc(100% - 35px) !important;
  }
}
