// Home Page Landing Css
[data-aliases="HOME"] {
  [data-component-type="CAROUSEL"] + [data-component-type="CONTENT_SLOT"] {
    > .configuration {
      padding: 0 0 !important;
    }
  }
}

.bg-white {
  background: #fff;
}

.d-flex {
  display: flex;
}

.col-6 {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

.landing-block {
  margin-top: 20px;

  img {
    max-width: 100%;
  }

  .block {
    position: relative;

    img {
      transition: all 0.8s linear;
    }

    &:hover img {
      transform: scale(1.04);
      transition: all 0.8s linear;
    }

    a {
      display: block;
      font-size: 0px;
      overflow: hidden;

      &.btn-banner {
        font-size: 14px;
        color: #ffffff;
        background: transparent;
        transition: all 0.3s;
        border: 2px solid #ffffff;
        padding: 12px 40px;
        font-weight: 500;
        text-decoration: none;
        margin-top: 25px;
        width: 80px;
        text-align: center;

        &:hover {
          color: #ffffff;
          background: #fe7250;
          border: 2px solid #fe7250;
        }
      }
    }
  }

  .content {
    position: absolute;
    left: 8%;
    max-width: 84%;
    width: 100%;
    bottom: 50px;
    color: #fff;
    display: inline-flex;
    flex-direction: column;

    h3 {
      font-size: 45px;
    }

    .sub-title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    * {
      display: inline-block;
      margin: 0px;
    }
  }
}

@media (min-width: 769px) {
  .pl-10 {
    padding-left: 10px !important;
  }
  .pr-10 {
    padding-right: 10px !important;
  }
}

@media (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
  .landing-block.d-flex {
    flex-direction: column;
    margin-top: 0px;
  }
  .landing-block .block {
    margin-top: 20px;
  }
  .landing-block .content h3 {
    font-size: 32px;
  }
  .landing-block .content .sub-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .landing-block .block a.btn-banner {
    margin-top: 15px;
  }
}

//Home page category block
.col-3 {
  width: 25%;
}
.homeCategory {
  background: #fff;

  .block {
    padding: 20px;
    border: 1px solid #bdbdbd;
    text-align: center;
  }

  h3 {
    margin: 0 0 15px !important;
    font-size: 24px !important;
    text-align: center;
    line-height: 1.2;

    span {
      display: block;
    }
  }

  .box-img {
    a {
      font-size: 0px;
      display: block;
    }

    img {
      max-width: 100%;
      transition: all 0.8s linear;
    }

    &:hover img {
      transform: scale(1.04);
      transition: all 0.8s linear;
    }
  }

  .box-info {
    display: block;
    margin-top: 20px;

    a {
      font-weight: 500;
      font-size: 14px;
      padding: 12px 30px;
      transition: all 0.3s;
      text-decoration: none;
      color: #ffffff;
      background: #fe7250;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        color: #ffffff;
        background: #1d1f29;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 768px) {
  .col-3 {
    width: 100%;
  }
  .homeCategory.d-flex {
    flex-direction: column;
  }
  .homeCategory {
    margin-top: 0px !important;
    .col-3 {
      margin-top: 20px;
    }
  }
}
