.product-content-alignment_left {
	order: 1;
	font-family: Roboto Condensed;
	font-size: 24px;
	font-weight: 400;
	color: #000;
	text-transform: capitalize;
	padding-right: 40px;
}
:host:not(.mini) {
	@include clickable;
	@include base-font-size;

	&.TEXT.selected {
		.swatch {
			border-color: #000000;
			background: black;
			color: white;
		}
	}
}
#upscale .pdp-sale-price-text {
	font-size: 20px;
	font-weight: 400;
	color: #fe7250;
	text-decoration: none;
}
upscale-variant-option-container.last.wrap.ng-star-inserted {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.swatch span {
	margin-left: 20px;
}
upscale-product-quantity-selector .input {
	display: inline-block;
	width: 90px;
	border: 2px solid #000;
	margin-right: 15px;
}
upscale-product-details .contentWrapper .product-detail-content div .actions {
	order: 6;
}
