//Footer styles
[data-aliases="HOME"] {
  & > div {
    .row-item[data-component-type="CONTENT_SLOT"] {
      .configuration {
        padding: 0 0 !important;
      }
    }
  }
}
.pb-20 {
  padding-bottom: 20px !important;
}
.globalFooter {
  background: #f4f4f4;

  ul {
    list-style: none;
    padding-left: 0;
  }

  .top {
    padding: 50px 0 40px 0;
    border-bottom: 1px solid #eee;

    p {
      margin-top: 10px;
      font-size: 16px;
      max-width: 200px;
      color: #000;
    }

    img {
      max-width: 140px;
    }

    .logoBlock ul {
      margin-top: 20px;

      li {
        display: inline-flex;
        margin-right: 10px;

        a {
          display: block;
          font-size: 0;
        }
      }

      img {
        max-width: 18px;
      }
    }

    .linkBlock {
      h3 {
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        color: #000;
        font-size: 18px;
        font-weight: 600;

        &:before {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          height: 1px;
          width: 30px;
          background: #000;
        }
      }
    }

    ul {
      margin-bottom: 0px;
    }

    .col-3 {
      padding: 0 15px;
      box-sizing: border-box;
    }

    a {
      font-weight: 400;
      line-height: 34px;
      color: #000;
      display: inline-block;
      text-decoration: none;
      transition: all 0.25s ease-in-out;
      font-size: 15px;

      &:hover {
        color: #fe7250;
      }
    }
  }

  .bottom {
    padding: 25px 15px;
    align-items: center;

    .text-left {
      font-size: 14px;
    }

    .text-right {
      text-align: right;
    }
  }
}

@media (max-width: 767px) {
  .globalFooter {
    text-align: center;

    .d-flex {
      flex-direction: column;
    }
    .col-3 {
      width: 100%;
    }

    .top p {
      margin: 0 auto;
      margin-top: 10px;
    }

    .linkBlock h3:before {
      left: 50% !important;
      transform: translateX(-50%);
    }

    .linkBlock {
      margin-top: 20px;
    }

    .bottom .text-right {
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .globalFooter {
    .top {
      flex-wrap: wrap;

      .logoBlock {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        & > img {
          max-width: 200px;
        }

        p {
          margin: 0 auto;
          margin-top: 10px;
          max-width: 100%;
        }
      }

      .linkBlock {
        width: 33.33%;
      }
    }
  }
}
